Repository appuio/appuio-cloud-docs, pull requests merged in 2021-11, with the labels that each got.

#41 Rewrite `Default Quota` reference documentation
  docs/modules/ROOT/pages/references/default-quota.adoc
Labels: reference

#45 Document quota for activeDeadlineSeconds
  docs/modules/ROOT/pages/references/default-quota.adoc
Labels: reference

#46 Document handling of `activeDeadlineSeconds` compared to APPUiO Public
  docs/modules/ROOT/pages/explanation/differences-to-public.adoc
Labels: explanation

#48 Add documentation on transferring projects
  docs/modules/ROOT/pages/explanation/organizations-and-rbac.adoc
Labels: explanation

#50 Add how-to for using integrated registry
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/how-to/use-integrated-registry.adoc
Labels: how-to

#51 Add registry domains to zones reference
  docs/modules/ROOT/pages/references/zones.adoc
Labels: reference

#53 Add how-to page to disable default network policies
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/how-to/remove-default-networkpolicies.adoc
Labels: tutorial

#44 Migration Tutorial: From Public to Cloud
  Makefile
  README.adoc
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/tutorials/migration.adoc
Labels: tutorial

#55 Migration Tutorial: Removed API versions
  docs/modules/ROOT/pages/tutorials/migration.adoc
Labels: tutorial

#56 Add storage classes explanation page
  docs/modules/ROOT/assets/images/storage_performance/cloudscale_read_bandwidth.png
  docs/modules/ROOT/assets/images/storage_performance/cloudscale_read_iops.png
  docs/modules/ROOT/assets/images/storage_performance/cloudscale_write_bandwidth.png
  docs/modules/ROOT/assets/images/storage_performance/cloudscale_write_iops.png
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/explanation/storage-classes.adoc
Labels: explanation

#57 Describe Client Throttling behaviour
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/explanation/client-throttling.adoc
Labels: explanation

#58 Add lpg 2 production zone and remove lpg 0 and lpg 1 Test zones
  docs/modules/ROOT/pages/references/zones.adoc
Labels: reference
