Repository appuio/appuio-cloud-docs, pull requests merged in 2022-02, with the labels that each got.

#78 Corrected information in README
  README.adoc
Labels: enhancement

#79 Add storageclass documentation for APPUiO Cloud zones on Exoscale
  docs/modules/ROOT/assets/images/storage_performance/exoscale_read_bandwidth.png
  docs/modules/ROOT/assets/images/storage_performance/exoscale_read_iops.png
  docs/modules/ROOT/assets/images/storage_performance/exoscale_write_bandwidth.png
  docs/modules/ROOT/assets/images/storage_performance/exoscale_write_iops.png
  docs/modules/ROOT/pages/explanation/storage-classes.adoc
Labels: explanation

#77 Created new page related to OpenShift Templates
  docs/modules/ROOT/assets/images/how-to/using-templates.png
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/how-to/using-templates.adoc
  docs/modules/ROOT/pages/index.adoc
Labels: how-to

#84 Fix typo in note about moving project between organizations
  docs/modules/ROOT/pages/explanation/organizations-and-rbac.adoc
Labels: ignore

#83 Add how-to guide for PostgreSQL installation via Helm
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/how-to/install-postgres-db-helm.adoc
Labels: how-to

#85 Getting started guides
  docs/modules/ROOT/assets/images/logos/c.svg
  docs/modules/ROOT/assets/images/logos/cpp.svg
  docs/modules/ROOT/assets/images/logos/csharp.svg
  docs/modules/ROOT/assets/images/logos/elixir.svg
  docs/modules/ROOT/assets/images/logos/fsharp.svg
  docs/modules/ROOT/assets/images/logos/go.svg
  docs/modules/ROOT/assets/images/logos/java.svg
  docs/modules/ROOT/assets/images/logos/kotlin.svg
  docs/modules/ROOT/assets/images/logos/php.svg
  docs/modules/ROOT/assets/images/logos/python.svg
  docs/modules/ROOT/assets/images/logos/ruby.svg
  docs/modules/ROOT/assets/images/logos/rust.svg
  docs/modules/ROOT/assets/images/logos/scala.svg
  docs/modules/ROOT/assets/images/logos/swift.svg
  docs/modules/ROOT/assets/images/logos/typescript.svg
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/tutorials/getting-started.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/c-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/c-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/cpp-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/cpp-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/csharp-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/csharp-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/elixir-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/elixir-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/fsharp-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/fsharp-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/go-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/go-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/java-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/java-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/kotlin-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/kotlin-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/php-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/php-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/python-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/python-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/ruby-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/ruby-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/rust-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/rust-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/scala-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/scala-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/swift-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/swift-web.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/typescript-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/typescript-web.adoc
Labels: tutorial

#86 Application Tutorial: Using Tilt to develop apps for APPUiO Cloud
  docs/modules/ROOT/assets/images/logos/tilt.svg
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/how-to/use-tilt.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/c-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/cpp-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/csharp-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/elixir-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/fsharp-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/go-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/java-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/kotlin-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/php-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/python-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/ruby-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/rust-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/scala-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/swift-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/typescript-terminal.adoc
  docs/modules/ROOT/partials/login-in-terminal.adoc
Labels: how-to

#91 Enabling OpenSearch support
  docs/modules/ROOT/pages/search.adoc
Labels: enhancement

#90 Application Tutorial: Using odo to develop apps for APPUiO Cloud
  docs/modules/ROOT/assets/images/logos/odo.png
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/how-to/use-odo.adoc
Labels: how-to

#92 Add a note about size restrictions for cloudscale.ch bulk volumes
  docs/modules/ROOT/pages/explanation/storage-classes.adoc
Labels: explanation

#93 GitHub Actions Pipeline How-To
  docs/modules/ROOT/assets/images/how-to/github-actions-runs.png
  docs/modules/ROOT/assets/images/how-to/github-actions-secrets.png
  docs/modules/ROOT/assets/images/how-to/github-import.png
  docs/modules/ROOT/assets/images/logos/github-actions.png
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/how-to/use-github-actions.adoc
  docs/modules/ROOT/pages/how-to/use-skaffold.adoc
  docs/modules/ROOT/pages/how-to/use-tilt.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/c-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/cpp-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/csharp-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/elixir-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/fsharp-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/go-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/java-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/kotlin-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/php-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/python-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/ruby-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/rust-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/scala-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/swift-terminal.adoc
  docs/modules/ROOT/pages/tutorials/getting-started/typescript-terminal.adoc
  docs/modules/ROOT/partials/url-length-warning.adoc
Labels: how-to

#95 Unified the name of the YAML file for readability
  docs/modules/ROOT/pages/how-to/install-postgres-db-helm.adoc
Labels: how-to
