Repository appuio/appuio-cloud-docs, pull requests merged in 2022-01, with the labels that each got.

#65 Clarify Ingress object example for TLS certificates
  docs/modules/ROOT/pages/how-to/getting-a-certificate.adoc
Labels: how-to

#60 New page with GitLab-specific instructions
  docs/modules/ROOT/assets/images/gitlab-kubernetes.png
  docs/modules/ROOT/assets/images/gitlab-registry.png
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/how-to/connect-gitlab.adoc
Labels: how-to

#68 Add how-to page to setup encrypted volumes on cloudscale
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/explanation/storage-classes.adoc
  docs/modules/ROOT/pages/how-to/encrypted-volumes.adoc
Labels: how-to

#67 Issue #15: Getting Started page
  docs/modules/ROOT/assets/images/getting-started/openshift-welcome.png
  docs/modules/ROOT/assets/images/getting-started/zones.png
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/tutorials/getting-started.adoc
Labels: tutorial

#66 How to explaining management of projects and namespaces
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/how-to/manage-projects-and-namespaces.adoc
Labels: how-to

#71 Add tip that creating namespaces using a SA is possible
  docs/modules/ROOT/pages/how-to/manage-projects-and-namespaces.adoc
Labels: how-to

#74 Updated antora-preview version
  Makefile
Labels: enhancement
